$primaryTypeColor: #333;
$secondaryTypeColor: #999;
$backgroundAlt: #E7E7E7;

$primaryHighlight: #4CDAE3;
$secondaryHighlight: #D9A0ED;

input[type="text"] {
  padding: 0.5em 0.75em;
  font-size: 16px;
  border: 1px solid #DDD;
  border-radius: 3px;
  outline: none;
  min-width: 300px;

  &::placeholder {
    color: lighten($secondaryTypeColor, 10);
  }
}

p {
  color: $primaryTypeColor;
  font-family: 'Roboto', sans-serif;
  line-height: 21px;
  font-size: 14px;
}

button {
  background: $primaryHighlight;
  outline: none;
  border: none;
  font-size: 18px;
  padding: 0.5em 1em;
  border-radius: 5px;
  color: $primaryTypeColor;
  font-weight: lighter;
  cursor: pointer;

  &:hover {
    background: lighten($primaryHighlight, 10);
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  color: $primaryTypeColor;
  font-weight: lighter;
}

h6 {
  color: $secondaryTypeColor;
  font-size: 18px;
}

.Jumbotron {
  padding: 60px 0;
  text-align: center;
}

.Header {
  font-family: 'Roboto', sans-serif;
  margin: 10px 0;
  color: $primaryTypeColor;
}

.Header--title {
  font-family: 'Amiri';
  font-size: 42px;
  text-transform: uppercase;
}

.Header--primary {
  font-size: 24px;
}

.Header--secondary {
  font-weight: lighter;
  font-style: italic;
  color: $secondaryTypeColor;
}

.Text--quote {
  color: #5f5f5f;
  text-align: center;
}

.Section {
  padding: 10px;
}

.Section--alt {
  background: $backgroundAlt;
}

.Section--cta {
  h1, h2, h6, p {
    text-align: center;
  }
}

.Section--footer {
  padding: 50px 0;
  p {
    text-align: center;
    color: $secondaryTypeColor;
  }
}

.Features {
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
}

.Features__feature {
  width: 300px;
  display: flex;
  p {
    font-size: 18px;
    line-height: 150%;
    color: $secondaryTypeColor;
  }
}

.Badge {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: $secondaryTypeColor;
  text-align: center;
  box-sizing: border-box;
  padding-top: 6px;
  color: white;
  flex-shrink: 0;
  margin-right: 10px;
  margin-top: 20px;
}

.Page {
  background: white;
  width: 35%;
  margin: 20px auto;
  padding: 10px 30px;
  border-radius: 2px;
  position: relative;
}

.Page p {
  line-height: 250%;
  padding: 0 10px;
}

.Page .Annotation {
  position: absolute;
  width: 200px;
}

.Page .Annotation--1 {
  top: 5%;
  left: -220px;
}

.Page .Annotation--2 {
  top: 26%;
  right: -220px;
}

.Page .Annotation--3 {
  top: 65%;
  left: -220px;
}

@media all and (max-width: 736px) { 
  .Page .Annotation {
    position: relative;
    top: auto !important;
    left: auto !important;
    right: auto !important;
    width: auto;
  }
}

.Annotation {
  background: $primaryHighlight;
}

.Annotation--alt {
  background: $secondaryHighlight;
}

.Annotation p {
  line-height: 150%;
}

.Text--highlight {
  background: transparentize($primaryHighlight, 0.5);
}

.Text--highlight--alt {
  background: transparentize($secondaryHighlight, 0.5);
}

.Text--strikethrough {
  text-decoration: line-through;
}

.pull-up {
  margin-top: -20px;
}
