$primaryTypeColor: #666;
$secondaryTypeColor: #999;
$backgroundAlt: #e7e7e7;

p {
  color: $primaryTypeColor;
  font-family: 'Roboto', sans-serif;
  line-height: 21px;
  font-size: 14px;
}

.Jumbotron {
  text-align: center;
}

.Header {
  font-family: 'Roboto', sans-serif;
  margin: 10px 0;
  color: $primaryTypeColor;
}

.Header--title {
  font-family: 'Amiri';
  font-size: 42px;
  text-transform: uppercase;
}

.Header--primary {
  font-size: 24px;
}

.Header--secondary {
  font-weight: lighter;
  font-style: italic;
  color: $secondaryTypeColor;
}

.Text--quote {
  color: #5f5f5f;
}

.Section {
  padding: 10px;
}

.Section--alt {
  background: $backgroundAlt;
  text-align: center;
}

.Features {
  display: flex;
  justify-content: space-around;
}

.Features__feature {
  width: 300px;
  display: flex;
}

.Badge {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: $backgroundAlt;
  text-align: center;
  box-sizing: border-box;
  padding-top: 6px;
  color: white;
  flex-shrink: 0;
  margin-right: 10px;
  margin-top: 16px;
}

.Highlight {
}

.pull-up {
  margin-top: -20px;
}
